@mixin goodsStyle($mBottom){
	padding:0 15px 15px 15px;
	h2 {
		margin-bottom: $mBottom;
		a{
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			font-weight: 600;
			color:#595959;
			transition: color 0.3s;
			&:hover{
				color:$redColor;
			}
		}
	}
	.price{
		font-family: 'Roboto', sans-serif;
		margin-bottom: $mBottom;
		span{
			display: inline-block;
		}
	}
	.current-price{
		color:$redColor;
		font-size:1.3rem;
		font-weight: 700;
		margin-right: 10px;
	}
	.old-price{
		text-decoration: line-through;
		color:#cccccc;
	}
	.stars{
		color:#f9af51;
	}
}

@mixin dots($widthHeight, $bgColor, $activeColor){
	position: absolute;
	cursor: pointer;
	bottom: 15px;
	left: 50%;
    transform: translate(-50%, 0%);
	.dot{
		margin-right: 5px;
		display: inline-block;
		width:$widthHeight;
		height:$widthHeight;
		background-color:$bgColor;
		border-radius: 50%;
	}
	.active{
		background-color: $activeColor;
		transition: 1s;
	}
}

@mixin arrows{
	z-index: 100;
	opacity: 0;
	font-size:0.9rem;
	color:white;
	top:50%;
	transform: translate(0, -50%);
	position:absolute;
	padding: 15px 18px;
	background-color: rgba(0, 0, 0, 0.8);
	cursor:pointer;
	transition: background-color 0.2s, opacity 0.4s;
	&:hover{
		background-color: $blueColor;
	}	
	&.arrow-left{
		left:0;	
	}
	&.arrow-right{
		right:0;
	}
}
@mixin post{
	display: flex;
	width:262px;
	a:first-child{
		display: block;
	}
	img{
		border:1px solid #e3e3e3;
		margin-right: 10px;
	}
	&:not(:first-child){
		margin-top: 20px;
	}
	.goods-info{
		@include goodsStyle(15px);
		.stars{
			margin-bottom: 15px;
		}
		padding: 0;
	}
}