.bottom__menu {
  font-size: 0.8rem;
  width: 10.877vw;
  padding: 0 15px;
  color: #7b7b7b;
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .bottom__menu .current__link {
    color: red; }
  .bottom__menu .firstletter {
    color: #d2d3d2; }
  .bottom__menu .previous__link {
    color: #7b7b7b; }

.bottom__menu + hr {
  margin-top: 13px;
  width: 100%;
  background-color: #9a9a9a;
  height: 1px;
  margin-bottom: 39px; }

.about_us__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 1rem; }

.about_us__caption:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.about_us__caption + hr {
  margin: 6px auto;
  width: 114px;
  height: 3px;
  background-color: black; }

.about__us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 64px;
  padding-bottom: 54px; }
  .about__us__info .info__text {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .about__us__info .info__text p {
      width: 95%;
      font-size: 1rem;
      color: #899190;
      line-height: 15px;
      margin-top: 27px; }
  .about__us__info .info__image {
    width: 478px;
    height: 378px;
    background: url("../img/about/about.jpg") no-repeat;
    background-size: cover; }
  .about__us__info cite {
    font-size: 1rem;
    width: 95%;
    margin-top: 22px;
    color: #899190;
    padding: 34px;
    background-color: #f7f7f7; }

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 68px; }
  .team__block .member__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .team__block .member__info img {
      border-radius: 10rem;
      width: 19vw; }
  .team__block h3 {
    font-size: 0.875rem;
    padding-top: 26px; }
  .team__block p {
    margin-top: 14px;
    font-size: 0.6875rem; }
