
.preline{
  height: 5.2vh;
  width: 100%;
  background-color: #eeeeee;
}
.preline__inner{
  display: flex;
  justify-content: space-between;
}
.preline__section{
  display: flex;
  flex-direction: row;
  align-items:center;
  color: #7e7e7e;
  .welcome_msg{
    margin-left: 10px;
  }
  .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    font-size: 15px;
    p {
      margin-left: 5px;
    }
     p+ i:last-child{
      margin-left: 5px;
      margin-bottom: 5px;
    }
  }
}
