@import '_preline.scss';
@import '_header.scss';
*,*::after,*::before{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
@font-face {
   font-family: "MaliasRegular";
   src: url("/static/fonts/MaliasRegular.woff2") format("woff2"),
}
@font-face {
  font-family: "MaliasThin";
  src: url("/static/fonts/MaliasThin.woff2") format("woff2"),
}
body{
  font-family: "MaliasRegular";
}
.wrapper{
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}