<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../shop/static/style.css">
  <title>About us</title>
</head>

<body>
  <main>
    <div class="container">
      <div class="bottom__menu">
        <a href="#" class="previous__link">Home</a>
        <p class="firstletter">/A</p>
        <a href="#" class="current__link">About us</a>
      </div>
      <hr>
      <h2 class="about_us__caption">ABOUT US</h2>
      <hr>

      <div class="about__us__info">
        <div class="info__text">
          <h2 class="about_us__caption">
            Lorem ipsum dolor sit amet.
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit velit aut rerum deserunt
            sunt praesentium quam, veniam obcaecati nesciunt, ratione, ab nisi! Optio qui, iure quisquam, velit hic
            corporis at magnam ut itaque asperiores, nesciunt exercitationem veritatis tempore quod ullam. A neque,
            consequuntur tenetur nulla expedita magni cupiditate enim!
          </p>
          <cite>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, suscipit!
          </cite>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit velit aut rerum deserunt
            sunt
            praesentium quam, veniam obcaecati nesciunt, ratione, ab nisi! Optio qui, iure quisquam, velit hic corporis
            at
            magnam ut itaque asperiores, nesciunt exercitationem veritatis tempore quod ullam. A neque, consequuntur
            tenetur
            nulla expedita magni cupiditate enim!
          </p>
        </div>
        <div class="info__image"></div>
      </div>
      <h2 class="about_us__caption">Meet the team</h2>
      <hr>
      <div class="team__block">
        <div class="member__info">
            <img src="/shop/static/img/about/1.jpg" alt="">
            <h3>Taras Ilyashuk</h3>
            <p>Gavno Back-end v studiyu</p>
        </div>
        <div class="member__info">
            <img src="/shop/static/img/about/2.jpg" alt="">
            <h3>Michael Semkiv</h3>
            <p>Team-lead,Front-end main developer,Front-end main director</p>
        </div>
        <div class="member__info">
            <img src="/shop/static/img/about/1.jpg" alt="">
            <h3>Dmytro Konechnuy</h3>
            <p>Assistent of MICHAEL SEMKIV</p>
        </div>
      </div>
    </div>

  </main>
</body>

</html>