{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Tovar</title>
</head>
<body>
{% block modal%}
     <div class="modal-window-wrapper">
      <div class="modal-window">
        <img src="{{ MEDIA_URL }}{{ tovar.image.url }}" alt="">
        <div class="goods-info">
          <h1 id="mg-name">{{ tovar.name }}</h1>
          <div class="price">
            <span class="current-price">${{ tovar.current_price }}</span>
            <span class="old-price">${{ tovar.old_price }}</span>
          </div>
          <a href="#" class="more-info">See all features</a>
          <form action="#">
            <input type="number" value="3">
            <button type="submit">Add to card</button>
          </form>
          <p class="about-goods">{{ tovar.info }}</p>
          <div class="shares">
            <p>Share this product</p>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}
</body>
</html>