{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/about_us.css'%}">
  <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
  {% block title %}<title>About us</title>{% endblock title %}
</head>
{% endblock head %}
<body>

  <main>
    {% block content %}
    <div class="container">
      <div class="bottom__menu">
        <a href="#" class="previous__link">Home</a>
        <p class="firstletter">/A</p>
        <a href="#" class="current__link">About us</a>
      </div>
      <hr>
      <h2 class="about_us__caption">ABOUT US</h2>
      <hr>

      <div class="about__us__info">
        <div class="info__text">
          <h2 class="about_us__caption">
            Lorem ipsum dolor sit amet.
          </h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit velit aut rerum deserunt
            sunt praesentium quam, veniam obcaecati nesciunt, ratione, ab nisi! Optio qui, iure quisquam, velit hic
            corporis at magnam ut itaque asperiores, nesciunt exercitationem veritatis tempore quod ullam. A neque,
            consequuntur tenetur nulla expedita magni cupiditate enim!
          </p>
          <cite>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, suscipit!
          </cite>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit velit aut rerum deserunt
            sunt
            praesentium quam, veniam obcaecati nesciunt, ratione, ab nisi! Optio qui, iure quisquam, velit hic corporis
            at
            magnam ut itaque asperiores, nesciunt exercitationem veritatis tempore quod ullam. A neque, consequuntur
            tenetur
            nulla expedita magni cupiditate enim!
          </p>
        </div>
        <div class="info__image"></div>
      </div>
      <h2 class="about_us__caption">Meet the team</h2>
      <hr>
      <div class="team__block">
        <div class="member__info">
            <img src="{% static 'img/about/1.jpg' %}" alt="">
            <h3>Taras Ilyashuk</h3>
            <p>Gavno Back-end v studiyu</p>
        </div>
        <div class="member__info">
            <img src="{% static 'img/about/2.jpg' %}" alt="">
            <h3>Michael Semkiv</h3>
            <p>Team-lead,Front-end main developer,Front-end main director</p>
        </div>
        <div class="member__info">
            <img src="{% static 'img/about/3.jpg' %}" alt="">
            <h3>Dmytro Konechnuy</h3>
            <p>Assistent of MICHAEL SEMKIV</p>
        </div>
      </div>
    </div>
    {% endblock content %}
  </main>

{% block modal %}
{% endblock modal %}
{% block script %} 
    <script src="{% static 'js/choseLgCurrency.js' %}"></script>
    <script src="{% static 'js/bestsellerSlider.js' %}"></script>
    <script src="{% static 'js/upButton.js' %}"></script>
    <script src="{% static 'js/chosenGoods.js' %}"></script> 
{% endblock script %}
</body>

</html>