{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
	  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" type="text/css">
	  <link rel="stylesheet" href="{% static 'css/styleCart.css' %}">
      <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
	{% block title %}<title>Malias | Cart</title>{% endblock title %}
</head>
{% endblock head %}
<body>

{% block r-side %}

<div class="shop-cart">
	<div class="goods-block">
		<h2>shopping cart</h2>
		<table>
			<tr>
				<th>Image</th>
				<th class="left">Product Name</th>
				<th class="left">Model</th>
				<th class="left">Quantity</th>
				<th class="right">Unit Price</th>
				<th class="right">Total</th>
			</tr>
			<tr>
				<td>
					<a href="#"><img src="{% static 'img/product/cart/1.jpg'%}" alt=""></a>
				</td>
				<td><a href="#">More-Or-Less</a></td>
				<td><p>Poduct 14</p></td>
				<td class="quantity">
					<input type="number" placeholder="1">
					<div class="btn-group">
						<button class="btn refresh">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn times-circle">
							<i class="fa fa-times-circle" aria-hidden="true"></i>
						</button>
					</div>
				</td>
				<td class="right"><span>$100.00</span></td>
				<td class="right"><span>$100.00</span></td>
			</tr>
			<tr>
				<td>
					<a href="#"><img src="{% static 'img/product/cart/2.jpg'%}" alt=""></a>
				</td>
				<td><a href="#">More-Or-Less</a></td>
				<td><p>Poduct 14</p></td>
				<td class="quantity">
					<input type="number" placeholder="1">
					<div class="btn-group">
						<button class="btn refresh">
							<i class="fa fa-refresh" aria-hidden="true"></i>
						</button>
						<button class="btn times-circle">
							<i class="fa fa-times-circle" aria-hidden="true"></i>
						</button>
					</div>
				</td>
				<td class="right"><span>$100.00</span></td>
				<td class="right"><span>$100.00</span></td>
			</tr>
		</table>
	</div>
	<div class="usadility-block">
		<div class="head-block">
			<h2>What would you like to do next?</h2>
			<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
		</div>
		<div class="option-block">
			<div class="option option-first">
				<a href="#" class="hideShow active">use coupon code <i class="fa fa-sort-down"></i></a>
				<div class="option-content hide">
					<div class="text">
						<p>Enter your coupon here</p>
					</div>
					<form action="#">
						<input type="text" placeholder="Enter your coupon here">
						<button type="submit">Apply Coupon</button>
					</form>
				</div>
			</div>
			<div class="option option-second">
				<a href="#" class="hideShow">use gift voucher<i class="fa fa-sort-down"></i></a>
				<div class="option-content hide">
					<div class="text">
						<p>Enter your gift voucher code here</p>
					</div>
					<form action="#">
						<input type="text" placeholder="Enter your gift voucher code here">
						<button type="submit">Apply Voucher</button>
					</form>
				</div>
			</div>
			<div class="option option-third">
				<a href="#" class="hideShow">Estimate Shipping & Taxes <i class="fa fa-sort-down"></i></a>
				<div class="option-content hide">
					<p class="title">Enter your destination to get a shipping estimate.</p>
					<form action="#">
						<p>
							<span>Country</span>
							<select name="country">
								<option> --- Please Select --- </option>
								<option> Bangladesh </option>
								<option> United States </option>
								<option> United Kingdom </option>
								<option> Canada </option>
								<option> Malaysia </option>
								<option> United Arab Emirates </option>
							</select>
						</p>
						<p>
							<span>Region / State</span>
							<select name="country">
								<option> --- Please Select --- </option>
								<option> Aberdeen </option>
								<option> Bedfordshire </option>
								<option> Caerphilly </option>
								<option> Denbighshire </option>
								<option> East Ayrshire </option>
								<option> Falkirk </option>
							</select>
						</p>
						<p class="post-code">
							<span>Post Code</span>
							<input type="text" placeholder="Post Code">
						</p>
					</form>
				</div>
			</div>
		</div>
		<div class="footer-block">
			<table>
				<tr>
					<td class="title right">Sub-Total:</td>
					<td class="right">$145.00</td>
				</tr>
				<tr>
					<td class="title right">Total:</td>
					<td class="right">$145.00</td>
				</tr>
			</table>
			<div class="btn-group">
				<a href="#" class="continue">Continue Shopping</a>
				<a href="#" class="checkout">Checkout</a>
			</div>
		</div>
	</div>
</div>

{% endblock r-side %}

{% block deals %}
{% endblock deals %}
{% block posts %}
{% endblock posts %}

{% block script %}
    <script src="{% static 'js/bestsellerSlider.js' %}"></script>
    <script src="{% static 'js/choseLgCurrency.js' %}"></script>
    <script src="{% static 'js/upButton.js' %}"></script>
    <script src="{% static 'js/chosenGoods.js' %}"></script> 
    <script src="{% static 'js/categories.js' %}"></script>
    <script src="{% static 'js/cartMenus.js' %}"></script>
{% endblock script %}

</body>
</html>