{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
	  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" type="text/css">
	  <link rel="stylesheet" href="{% static 'css/styleCart.css' %}">
       <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
	{% block title %}<title>Malias | Cart</title>{% endblock title %}
</head>
{% endblock head %}
<body>

{% block modal %}
{% endblock modal %}
{% block deals %}
{% endblock deals %}
{% block posts %}
{% endblock posts %}
</body>
</html>