<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="../shop/static/style.css">
  <title>Malias</title>

</head>

<body>
  <div class="wrapper">
    <div class="preline">
      <div class="container">
        <div class="preline__inner">
          <div class="preline__section">
            <div class="block">
              <img src="../shop/static/img/flags/gb.png" alt="">
              <p>English</p>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="block">
              <i class="fas fa-dollar-sign"></i>
              <p>USD</p>
              <i class="fa fa-sort-down"></i>
            </div>
            <p class="welcome_msg">Default welcome msg</p>
          </div>
          <div class="preline__section">
            <div class="block"><i class="fas fa-user"></i></div>
            <div class="block"><i class="fas fa-heart"></i></div>
            <div class="block"><i class="fas fa-share"></i></div>
            <div class="block"><i class="fas fa-unlock"></i></div>
          </div>
        </div>
      </div>
    </div>
    <header class="header">
      <div class="container">
        <div class="advantages">
          <div class="advantages__block">
            <i class="far fa-clock"></i>
            <div class="advantages__text">
              <p>Working time</p>
              <p>Mon-Sun 8:00-18:00</p>
            </div>
          </div>
          <div class="advantages__block">
            <i class="fas fa-truck"></i>
            <div class="advantages__text">
              <p>Free shipping</p>
              <p>On order over $199</p>
            </div>
          </div>
          <div class="advantages__block">
            <i class="far fa-money-bill-alt"></i>
            <div class="advantages__text">
              <p>Money back 100%</p>
              <p>Within 30 Days after delivery</p>
            </div>
          </div>
          <div class="advantages__block">
            <i class="fas fa-phone-alt"></i>
            <div class="advantages__text">
              <p>Phone:0123456789</p>
              <p>Order online Now!</p>
            </div>
          </div>
        </div>
        <div class="header__main">
          <b class="logo">Malias.</b>
          <div class="search__form">
            <select name="#" id="select">
              <option value="all">All Categories</option>
              <option value="smartphones">Smartphon</option>
              <option value="smartphones">TV</option>
              <option value="smartphones">PC</option>
            </select>
            <form action="#">
              <input type="text" class="search__text" placeholder="Search">
              <div class="search__button">
                <input type="submit" class="search__button " value="">
                <i class="fas fa-search"></i>
              </div>
            </form>
          </div>
          <div class="shopping__cart">
            <a href="#" class="bucket">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="cart__text">
              <p>shopping-cart</p>
              <p>2 ITEM(S)- <b>$365.00</b> </p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          
        </div>
      </nav>
    </header>
    <main>
      <div class="l-side">
        <div class="categories">
          <div class="categories_btn">
            <i class="fa fa-bars"></i>
            <p>Categories</p>
            <i class="fa fa-sort-down"></i>
          </div>
          <div class="list-category">
            <ul>
              <li class="arrow first-list-item">Cameras & Photography</li>
              <li class="arrow">Tv & Audio</li>
              <li class="arrow">SmartPhones & Tablets</li>
              <li>Laptop & Computer</li>
              <li>Sony</li>
              <li>Mobile</li>
              <li>Sports</li>
              <li class="hide-option unvisible">Books</li>
              <li class="more-btn">More Categories<i class="fa fa-plus"></i></li>
            </ul>
          </div>
          <div class="first-item unvisible">
            <div class="section">
              <h2>Handbags</h2>
              <ul>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blouses And Shirts</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Clutches</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Cross Body</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Satchels</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sholuder</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Toter</a></li>
              </ul>
            </div>
            <div class="section">
              <h2>Tops</h2>
              <ul>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Evening</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Long Sleeved</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Short Sleeved</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sleeveless</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>T-Shirts</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Tanks And Camis</a></li>
              </ul>
            </div>
            <div class="section">
              <h2>Dresses</h2>
              <ul>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Belts</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Cocktail</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Day</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Evening</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sundresses</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sweater</a></li>
              </ul>
            </div>
            <div class="section">
              <h2>Accessories</h2>
              <ul>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bras</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Hair Accessories</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Hats And Gloves</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Lifestyle</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Scarves</a></li>
                <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Small Leathers</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="r-side">
        <div class="slider-wrapper">
          <ul>
            <li class="slide first visible">
              <div class="post-1">
                <h2>LUMIA 888 DESIGN</h2>
                <p>Elegant design for business</p>
                <span>$966.82</span>
                <button class="buy_btn">Shopping now</button>
              </div>
            </li>
            <li class="slide second">
              <div class="post-2">
                <h2>WATERPROOF SMARTPHONE</h2>
                <p>RODUCTS ARE EYE-CATCHING DESIGN. YOU CAN TAKE PHOTOS EVEN WHEN Y</p>
                <button class="buy_btn">Shopping now</button>
              </div>
            </li>
            <li class="slide third">
              <div class="post-3">
                <p>BUY AIR LACOTE.</p>
                <h2>SUPER TABLET, SUPER GIFT</h2>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et.</p>
                <button class="buy_btn">Shopping now</button>
              </div>
            </li>
          </ul>
          <div class="dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="../shop/static/js/slider.js"></script>
  <script src="../shop/static/js/categories.js"></script>
</body>

</html>