<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <title>Malias</title>
  
</head>
<body>
    <div class="wrapper">
      <div class="preline">
        <div class="container">
          <div class="preline__inner">
          <div class="preline__section">
            <div class="block">
            <img src="/static/img/flags/gb.png" alt="">
            <p>English</p>
            <i class="fa fa-sort-down"></i>
            </div>
            <div class="block">
              <i class="fas fa-dollar-sign"></i>
              <p>USD</p>
              <i class="fa fa-sort-down"></i>
            </div>
            <p class="welcome_msg">Default welcome msg</p>
          </div>
          <div class="preline__section">
            <div class="block"><i class="fas fa-user"></i></div>
            <div class="block"><i class="fas fa-heart"></i></div>
            <div class="block"><i class="fas fa-share"></i></div>
            <div class="block"><i class="fas fa-unlock"></i></div>
          </div>
          </div>
        </div>
      </div>
      <header class="header">
        <div class="container">
          <div class="advantages">
            <div class="advantages__block">
                <i class="far fa-clock"></i>
                <div class="advantages__text">
                  <p>Working time</p>
                  <p>Mon-Sun 8:00-18:00</p>
                </div>
            </div>
            <div class="advantages__block">
              <i class="fas fa-truck"></i>
              <div class="advantages__text">
                <p>Free shipping</p>
                <p>On order over $199</p>
              </div>
            </div>
            <div class="advantages__block">
              <i class="far fa-money-bill-alt"></i>
              <div class="advantages__text">
                <p>Money back 100%</p>
                <p>Within 30 Days after delivery</p>
              </div>
            </div>
            <div class="advantages__block">
              <i class="fas fa-phone-alt"></i>
              <div class="advantages__text">
                <p>Phone:0123456789</p>
                <p>Order online Now!</p>
              </div>
            </div> 
          </div>
          <div class="header__main">
            <b class="logo">Malias.</b>
            <div class="search__form clearfix">
            <form action="#" >  
              <select name="#" id="selcet">
                <option value="all">All Categories</option>
                <option value="smartphones">Smartphon</option>
                <option value="smartphones">TV</option>
                <option value="smartphones">PC</option>
              </select>
              <input type="text" class="search__text " value="Search">
                <div class="search__button">
                  <input type="submit" class="search__button " value="">
                 <i class="fas fa-search"></i></div>       
            </form>
            </div>
           <div class="shopping__cart">
            <a href="#" class="bucket">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="cart__text">
            <p>shopping-cart</p>
            <p>2 ITEM(S)- <b>$365.00</b> </p>
            </div>
            </div>
            
          </div>
        </div>
      </header>
    </div>
    
</body>
</html>