<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../shop/static/style.css">
  <title>Malias</title>
  
</head>
<body>
    <div class="wrapper">
      <div class="preline">
        <div class="container">
          <div class="preline__inner">
          <div class="preline__section">
            <div class="block">
            <img src="../shop/static/img/flags/gb.png" alt="">
            <p>English</p>
            <i class="fa fa-sort-down"></i>
            </div>
            <div class="block">
              <i class="fas fa-dollar-sign"></i>
              <p>USD</p>
              <i class="fa fa-sort-down"></i>
            </div>
            <p class="welcome_msg">Default welcome msg</p>
          </div>
          <div class="preline__section">
            <div class="block"><i class="fas fa-user"></i></div>
            <div class="block"><i class="fas fa-heart"></i></div>
            <div class="block"><i class="fas fa-share"></i></div>
            <div class="block"><i class="fas fa-unlock"></i></div>
          </div>
          </div>
        </div>
      </div>
      <header class="header">
        <div class="container">
          <div class="advantages">
            <div class="advantages__block">
                <i class="far fa-clock"></i>
                <div class="advantages__text">
                  <p>Working time</p>
                  <p>Mon-Sun 8:00-18:00</p>
                </div>
            </div>
            <div class="advantages__block">
              <i class="fas fa-truck"></i>
              <div class="advantages__text">
                <p>Free shipping</p>
                <p>On order over $199</p>
              </div>
            </div>
            <div class="advantages__block">
              <i class="far fa-money-bill-alt"></i>
              <div class="advantages__text">
                <p>Money back 100%</p>
                <p>Within 30 Days after delivery</p>
              </div>
            </div>
            <div class="advantages__block">
              <i class="fas fa-phone-alt"></i>
              <div class="advantages__text">
                <p>Phone:0123456789</p>
                <p>Order online Now!</p>
              </div>
            </div> 
          </div>
          <div class="header__main">
            <b class="logo">Malias.</b>
            <div class="search__form clearfix">
            <form action="#" >  
              <select name="#" id="selcet">
                <option value="all">All Categories</option>
                <option value="smartphones">Smartphon</option>
                <option value="smartphones">TV</option>
                <option value="smartphones">PC</option>
              </select>
              <input type="text" class="search__text " value="Search">
                <div class="search__button">
                  <input type="submit" class="search__button " value="">
                 <i class="fas fa-search"></i></div>       
            </form>
            </div>
           <div class="shopping__cart">
            <a href="#" class="bucket">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <div class="cart__text">
            <p>shopping-cart</p>
            <p>2 ITEM(S)- <b>$365.00</b> </p>
            </div>
            </div>
            
          </div>
        </div>
        
        <nav>
          <div class="container">
            <div class="nav__inner">
              <a href="#">Home</a>
              <a href="#">About us</a>
              <a href="#">Bestsellers Products</a>
              <a href="#">New Products</a>
              <a href="#">Special Products</a>
              <a href="#">Pages</a>
              <a href="#">Contact us</a>
            </div>
          </div>
        </nav>
        
      </header>
      <main>
        <div class="l-side">
          <div class="categories">
            <div class="categories_btn">
              <i class="fa fa-bars"></i>
              <p>Categories</p>
              <i class="fa fa-sort-down"></i>
            </div>
            <div class="list-category">
              <ul>
                <li class="arrow first-list-item">Cameras & Photography</li>
                <li class="arrow second-list-item">Tv & Audio</li>
                <li class="arrow third-list-item">SmartPhones & Tablets</li>
                <li>Laptop & Computer</li>
                <li>Sony</li>
                <li>Mobile</li>
                <li>Sports</li>
                <li class="hide-option unvisible">Books</li>
                <li class="more-btn">More Categories<i class="fa fa-plus"></i></li>
              </ul>
            </div>
            <div class="hide-menu first unvisible">
              <div class="section">
                <h2>Handbags</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blouses And Shirts</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Clutches</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Cross Body</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Satchels</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sholuder</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Toter</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>Tops</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Evening</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Long Sleeved</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Short Sleeved</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sleeveless</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>T-Shirts</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Tanks And Camis</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>Dresses</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Belts</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Cocktail</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Day</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Evening</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sundresses</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sweater</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>Accessories</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bras</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Hair Accessories</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Hats And Gloves</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Lifestyle</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Scarves</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Small Leathers</a></li>
                </ul>
              </div>
            </div>

            <div class="hide-menu second unvisible">
              <div class="section">
                <h2>BAGS</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blazers</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bootees Bags</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Jackets</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Shoes</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>CLOTHING</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blazers</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bootees Bags</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Jackets</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Shoes</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>LINGERIE</h2>
                <ul>
                 <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blazers</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bootees Bags</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Jackets</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Shoes</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>Shoes</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Blazers</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Bootees Bags</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Jackets</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Shoes</a></li>
                </ul>
              </div>
            </div>

            <div class="hide-menu third unvisible">
              <div class="section">
                <h2>Women</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Belts</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Jewelry</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Socks</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Sunglasses</a></li>
                </ul>
              </div>
              <div class="section">
                <h2>CLOTHING</h2>
                <ul>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Boots</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Brands We Love</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Casuals</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Gifts And Tech</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Gifts And Tech</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Slippers</a></li>
                  <li><a href="#"><i class="fa fa-xs fa-arrow-circle-right"></i>Speakers</a></li>
                </ul>
              </div>
              <div class="section">
                <img src="../shop/static/img/product/quickview-photo.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="r-side">
          <div class="slider-wrapper">
            <ul>
              <li class="slide first visible">
                <div class="post-1">
                  <h2>LUMIA 888 DESIGN</h2>
                  <p>Elegant design for business</p>
                  <span>$966.82</span>
                  <button class="buy_btn">Shopping now</button>
                </div>
              </li>
              <li class="slide second">
                <div class="post-2">
                  <h2>WATERPROOF SMARTPHONE</h2>
                  <p>RODUCTS ARE EYE-CATCHING DESIGN. YOU CAN TAKE PHOTOS EVEN WHEN Y</p>
                  <button class="buy_btn">Shopping now</button>
                </div>
              </li>
              <li class="slide third">
                <div class="post-3">
                  <p>BUY AIR LACOTE.</p>
                  <h2>SUPER TABLET, SUPER GIFT</h2>
                  <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                  <button class="buy_btn">Shopping now</button>
                </div>
              </li>
            </ul>
            <div class="dots">
              <span class="dot active"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>

          <div class="goods-container">
            <div class="span-block">
              <span></span>
              <span></span>
            </div>
            <div class="section section-electronic">
              <div class="header-section">
                <h2>Electronic</h2>
                <nav class="navigation">
                  <ul>
                    <li><a href="#" class="active" data-item="first">Speaker</a></li>
                    <li><a href="#" data-item="second">TV</a></li>
                    <li><a href="#" data-item="third">Mobile</a></li>
                  </ul>
                </nav>
              </div>
              <span class="underline"></span>
              <div class="goods-list">

                <div class="arrow arrow-left"><</div>
                <div class="arrow arrow-right">></div>

                <ul class="list visibleGoods" data-item="first">
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/12.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/12bg.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/2.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Trid Palm</h2>
                      <div class="price">
                        <span class="current-price">$90.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/2bg.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$105.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/5.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/6.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                </ul>

                <ul class="list" data-item="second">
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/3.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/2.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/1.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Trid Palm</h2>
                      <div class="price">
                        <span class="current-price">$90.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/4.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$105.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/5.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/6.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                </ul>

                <ul class="list" data-item="third">
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/1.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/2.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/3.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Trid Palm</h2>
                      <div class="price">
                        <span class="current-price">$90.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/4.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$105.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/5.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Various Versions</h2>
                      <div class="price">
                        <span class="current-price">$99.00</span>
                        <span class="old-price">$120.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>

                  <li>
                    <div class="goods">
                    <a href="#"><img src="../shop/static/img/product/mediam/6.jpg" alt=""></a>
                    <div class="goods-info">
                      <h2>Established Fact</h2>
                      <div class="price">
                        <span class="current-price">$85.00</span>
                        <span class="old-price">$110.00</span>
                      </div>
                      <div class="stars">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </div>
                    </div>
                  </div>
                  </li>
                </ul>

              </div>
            </div>

            
          </div>
        </div>

      </main>
      <footer class="footer">
        <div class="container">
          <div class="footer__inner">
           <div class="footer__column">
             <p>MY ACCOUNT</p>
             <hr>
             <ol>
               <li><a href="#">My Account</a></li>
               <li><a href="#">Order History</a></li>
               <li><a href="#">Wish List</a></li>    
               <li><a href="#">Search Terms</a></li>
               <li><a href="#">Returns</a></li>
             </ol>
           </div>
           <div class="footer__column">
             <p>CUSTOME SERVICE</p>
             <hr>
             <ol>
               <li><a href="#">Contact us</a></li>
               <li><a href="#">About us</a></li>
               <li><a href="#">Delivery Information</a></li>
               <li><a href="#">Privacy policy</a></li>
               <li><a href="#">Terms & Conditions</a></li>
             </ol>
           </div>
           <div class="footer__column">
             <p>PAYMENT & SHIPPING</p>
             <hr>
             <ol>
               <li><a href="#">Brands</a></li>
               <li><a href="#">Git Vouchers</a></li>
               <li><a href="#">Affiliates</a></li>
               <li><a href="#">Specials</a></li>
               <li><a href="#">Search Terms</a></li>
             </ol>
           </div>
           <div class="footer__column">
             <p>PAYMENT & SHIPPING</p>
             <hr>
             <ol>
               <li><i class="fas fa-home"></i>
                 <p>Towethemes , 1234 Stret Lorem , LPA
                 States. Liberto</p>
               </li>
               <li><i class="far fa-envelope"></i><a href="#">admin@booesperts.com</a></li>
               <li><i class="fas fa-phone-alt"></i><a href="#">
                   <p>01234-56789 <br>
                 01234-56789</p>
               </a></li>
             </ol>
           </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="../shop/static/js/slider.js"></script>
    <script src="../shop/static/js/categories.js"></script>
    <script src="../shop/static/js/goodsSlider.js"></script>
    <script src="../shop/static/js/switchMenus.js"></script>
</body>
</html>