.bestseller-block{
	margin-top: 40px;
	&:hover .arrow{
		opacity: 1;
	}
	.bestsellers{
		position: relative;
		overflow: hidden;
		ul{
			display: flex;
			transition: margin-left 0.8s;
		}
	}
	.title{
		border-color:$blueColor;
	}
	.post{
		@include post;
	}
	.arrow{
		@include arrows;
	}
}