.bestseller-block{
	margin-top: 40px;
	&:hover .arrow{
		opacity: 1;
	}
	.bestsellers{
		position: relative;
		overflow: hidden;
		ul{
			display: flex;
			transition: margin-left 0.8s;
		}
	}
	.title{
		border-color:$blueColor;
	}
	.post{
		display: flex;
		width:262px;
		a:first-child{
			display: block;
		}
		img{
			border:1px solid #e3e3e3;
			margin-right: 10px;
		}
		&:not(:first-child){
			margin-top: 20px;
		}
	}
	.goods-info{
		@include goodsStyle(15px);
		.stars{
			margin-bottom: 15px;
		}
		padding: 0;
	}
	.arrow{
		@include arrows;
	}
}