.brands{
  margin-top: 1.9rem;
  p{
    margin-bottom: 5px;
  }
  hr{
    width: 100%;
    background-color: #ed7987;
    height: 3px;
  }
  .companies__logos{
    position: relative;
    overflow: hidden;
    padding:45px 0;
    a{
      display: block;
    }
    &:hover .arrow{
      opacity: 1;
    }
    ul{
      display: flex;
      transition: margin-left 0.8s;
      li{
        margin:0 15px;
        &:first-child{
          margin-left:0;
        }
        &:last-child{
          margin-right:0;
        }
      }
      img{
        width:165px;
        height:auto;
      }
    }
    .arrow{
      @include arrows;
    }
  }
}