.goods-container{
	margin-top: 55px;
	width:100%;
	.span-block{
		display: flex;
		justify-content: space-between;
		span{
			display: inline-block;
			border-top:3px solid #e3e3e3;
			border-radius: 10px;
			width:100%;
			&:first-child{
				max-width:460px;
				margin-right: 15px;
			}
			&:last-child{
				max-width:355px;
				margin-left: 15px;
			}
		}
	}
	.section{
		margin-top: 38px;
	}
	.underline{
		display: inline-block;
		width:100%;
		border:2px solid $blueColor;
	}
	.header-section{
		display: flex;
		justify-content: space-between;
		h2{
			text-transform: uppercase;
		}
		.navigation {
			.active{
				color:$blueColor;
			}
			ul{
				display: flex;
				li{
					font-family: 'Raleway', sans-serif;
					a{
						display: block;
						padding:0 20px;
						color:#838383;
						text-decoration: none;
						transition:color 0.2s;
						&:hover{
							color:$blueColor;
						}
					}
					border-right: 1px solid #e3e3e3;
					font-size:0.9rem;
				}
			}
		}
	}
	.arrow{
		@include arrows;
	}
	
	.goods-list{
		width:100%;
		margin-top: 20px;
		height: 310px;
		position: relative;
		z-index: 0;
		.menu-wrapper{
			width:100%;
			height: 100%;
			position: absolute;
			top:0;
			left:0;
			opacity: 0;
			transition: opacity 0.6s;
		}
		.visibleGoods{
			opacity: 1;
			z-index: 10;
		}
		.list-wrapper{
			z-index: 10;
			width:100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			&:hover .arrow{
				opacity: 1;
			}
		}
		ul{
			display: flex;
			width:100%;
			position: absolute;
			top:0;
			left:0;
			transition: margin-left 0.8s;
		}
	}
	

	.list-wrapper li{
		border:1px solid #dddddd;
		margin:0 15px;
		max-width:190px;
		a{
			display: block;
		}
		&:last-of-type{
			margin-right: 0px;
		}
		&:first-of-type{
			margin-left: 0px;
		}
		img{
			max-width:188px;
			height:auto;
		}
	}
	.goods{
		&:hover .option-block{
			opacity: 1;
		}
	}
	.goods-info{
		@include goodsStyle(15px);
		position: relative;
		.option-block{
			position: absolute;
			top:0;
			left:0;
			background-color: white;
			width:100%;
			height: 100%;
			text-align:center;
			padding: 0 25px 30px 25px;
			opacity: 0;
			transition: opacity 0.4s;
			.option{
				margin-top: 5px;
				display: flex;
				justify-content: space-between;
				i{
					background-color: #666666;
					padding:12px 14px;
					color:white;
					transition: background-color 0.3s;
					&:hover{
						background-color: $blueColor;
					}
				}
				a:last-child{
					cursor:pointer;
				}
			}
		}
		.add-btn{
			text-transform:uppercase;
			background-color: $blueColor;
			display: block;
			color:white;
			text-align: none;
			width:100%;
			padding: 10px 0;
			transition: background-color 0.3s;
			span{
				display: inline-block;
				margin-left: 5px;
				font-weight: 500;
				font-size:0.8rem;
			}
			&:hover{
				background-color: $redColor;
			}
		}
	}
}