
.header{
  margin-top: 38px;
.advantages{ 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #7e7e7e;
  .advantages__block:nth-child(4){
    margin-right: 54px;
  }
  .advantages__block{
    display: flex;
    flex-direction: row;
    align-items:center;
    i{
      font-size: 20px;
    }
    .advantages__text{
      margin-left: 18px;
      p:nth-child(1){
        text-transform: uppercase;
        font-size: 14px;
      }
      p:nth-child(2) {
        font-size: 10px;
      }
    }
  }
}
.header__main{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 45px;
  .logo{
    color: #26acce;
    font-size: 50px;
  }
  .search__form{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    select{
      color: #7e7e7e;
          padding: 18px  18px 10px;
          width: 7vw;
          border: 2px solid #bebebe;
    }
    form{
      display: flex;
    .search__text{
      padding: 19px  19px 10px;
      width: 17vw;
      color: #7e7e7e;
      border: 2px solid #bebebe;
      border-left:1px;
    }
    .search__button{
      display: flex;
      justify-content: center;
      align-items:center; 
      text-align: center;
      color: #ffff;
      padding: 10.5px 15px;
      background-color: #26acce;
      i{
        position: absolute;
      }
    }
  }
  }
  .shopping__cart {
    float: left;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    a {
      background-color: #26acce;
      padding: 18.5px 20px;
      color: #fff;
    }
    .cart__text {
      height: 100%;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 5px;
      color: #7e7e7e;
      p:nth-child(1) {
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      b {
        color: red;
      }
    }
  }
  
}
nav{
  height: 10vh;
  margin-top: 40px;
  background-color: #474747;
}
}