
.header{
  margin-top: 38px;
.advantages{ 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #7e7e7e;
  .advantages__block:nth-child(4){
    margin-right: 54px;
  }
  .advantages__block{
    display: flex;
    flex-direction: row;
    align-items:center;
    .advantages__text{
      margin-left: 18px;
      p:nth-child(1){
        text-transform: uppercase;
        margin-bottom: 4px;
      }
      p:nth-child(2) {
        font-size: 0.8rem;
        font-family: 'Raleway', sans-serif;
      }
    }
  }
}
.header__main{
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 45px;
  .logo{
    color: #26acce;
    font-size: 50px;
    font-weight: bold;
  }
  .search__form{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    select{
      font-family: 'Raleway', sans-serif;
      color: #7e7e7e;
      padding: 18px 18px 18px 10px;
      border: 2px solid #bebebe;
      cursor: pointer;
      width:190px;
    }
    form{
      display: flex;
      .search__text{
        font-family: 'Raleway', sans-serif;
        padding: 20px;
        width: 380px;
        color: #7e7e7e;
        border: 2px solid #bebebe;
        border-left:none;
        border-right: none;
      }
      .search__button{
        cursor: pointer;
        color: #ffff;
        padding: 10.5px 25px;
        background-color: #26acce;
        transition: background-color 0.4s;
        &:hover{
          background-color: $redColor;
        }
        
      }
    }
  }
  .shopping__cart {
    margin-left: 10px;
    .bucket{
      display: flex;
      text-decoration:none;
      &:hover .cart-icon{
        background-color: $redColor;
      }
      .cart-icon{
        display: flex;
        align-items: center;
        background-color: #26acce;
        padding:21.5px 21px;
        i{
          color:white;
        }
      }
    }
    .cart__text {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 5px;
      color: #7e7e7e;
      p:nth-child(1) {
        text-transform: uppercase;
        padding-bottom: 20px;
      }
      b {
        color: red;
      }
    }
  }
}
nav{
  margin-top: 40px;
  background-color: #474747;
  .nav__inner{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    height: 6vh;
    a{
      padding: 0 14px;
      font-size: 15px;
      color: white;
      text-decoration: none;
      border-right: 1px solid #606060;
    }
  }
}
}
#up__bttn{
  display: inline-block;
  background-color: #e95668;
  width: 54px;
  height: 54px;
  text-align: center;
  margin: 30px;
  position: fixed;
  bottom: 5px;
  right: -10px;
  transition: background-color .3s;
  z-index: 1000;
}
#up__bttn:hover {
  cursor: pointer;
  background-color: #26acce;
}
#up__bttn::after {
  margin: 0 auto;
  content: "\f077";
  font-family: FontAwesome;
  font-weight: lighter;
  font-size: 1.01rem;
  line-height: 52px;
  color: #fff;
}