@mixin goodsStyle($mBottom){
	padding:0 15px 15px 15px;
	h2 a{
		text-decoration: none;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color:#595959;
		transition: color 0.3s;
		&:hover{
			color:$redColor;
		}
		margin-bottom: $mBottom;
	}
	.price{
		font-family: 'Roboto', sans-serif;
		margin-bottom: $mBottom;
		span{
			display: inline-block;
		}
	}
	.current-price{
		color:$redColor;
		font-size:1.3rem;
		font-weight: 700;
		margin-right: 10px;
	}
	.old-price{
		text-decoration: line-through;
		color:#cccccc;
	}
	.stars{
		color:#f9af51;
	}
}

@mixin dots($widthHeight, $bgColor, $activeColor){
	position: absolute;
	cursor: pointer;
	bottom: 15px;
	left: 50%;
    transform: translate(-50%, 0%);
	.dot{
		margin-right: 5px;
		display: inline-block;
		width:$widthHeight;
		height:$widthHeight;
		background-color:$bgColor;
		border-radius: 50%;
	}
	.active{
		background-color: $activeColor;
		transition: 1s;
	}
}