@mixin goodsStyle{
	padding:0 15px 15px 15px;
	h2 a{
		text-decoration: none;
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color:#595959;
		transition: color 0.3s;
		&:hover{
			color:$redColor;
		}
	}
	.price{
		margin-top: 15px;
		font-family: 'Roboto', sans-serif;
		span{
			display: inline-block;
		}
	}
	.current-price{
		color:$redColor;
		font-size:1.3rem;
		font-weight: 700;
		margin-right: 10px;
	}
	.old-price{
		text-decoration: line-through;
		color:#e8e8e8;
	}
	.stars{
		margin-top: 15px;
		color:#f9af51;
	}
}