.preline{
  height: 5.2vh;
  width: 100%;
  background-color: #eeeeee;
}
.preline__inner{
  display: flex;
  justify-content: space-between;
}
.preline__section{
  display: flex;
  align-items:center;
  color: #7e7e7e;
  .welcome_msg{
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
  }
  .switch{
    background-color: white;
    position: absolute;
    border-top: 3px solid $blueColor;
    padding:10px;
    box-shadow: 0 0 8px silver;
    a{
      display: block;
      text-decoration: none;
      color:#898a89;
      font-family: 'Raleway', sans-serif;
      font-size: 0.8rem;
      padding:8px 35px 8px 15px;
      border-bottom: 1px solid #dddddd;
      transition: all 0.4s;
      &:hover{
        color:white;
        background-color: $blueColor;
      }
    }
    &.switch-lg{
      img{
        margin-right: 5px;
      }
    }
    &.switch-currency{
      i{
        margin-right: 5px;
      }
    }
  }
  .link-block { 
        text-decoration: none;
        display: flex;
        align-items: center;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        font-size: 15px;
        padding: 15px 10px;
        color:#898a89;
        p {
          margin-left: 5px;
          font-family: 'Raleway', sans-serif;
          font-size: 0.8rem;
        }
         p + i:last-child{
          margin-left: 5px;
          margin-bottom: 5px;
        }
    }

    .tool{
      background-color: #eeeeee;
      transition:all 0.4s;
      border-right: 1px solid #dddddd;
      &:first-child{
        border-left: 1px solid #dddddd;
      }
      &:nth-child(1){
        z-index: 1;
        a{
          margin-right: -90px;
        }
      }
      &:nth-child(2){
        z-index: 2;
        a{
          margin-right: -90px;
        }
      }
      &:nth-child(3){
        z-index: 3;
        a{
          margin-right: -75px;
        }
      }
      &:nth-child(4){
        z-index: 4;
        a{
          margin-right: -50px;
        }
      }
      &:hover{
        background-color: $blueColor;
        a{
          margin-right: 0px;
          color:white;
          .section-name{
            transform: scale(1, 1);
            color:white;
          }
        }
      }
      a{
        display: block;
        padding: 18px 19px;
        text-decoration: none;
        font-size: 0.9rem;
        color:#adadad;
        transition:all 0.4s;
        .section-name{
          display: inline-block;
          margin-left: 8px;
          transition:transform 0.4s;
          transform: scale(0, 0);
          
        }
      }

    }

  }

