@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.preline {
  height: 5.2vh;
  width: 100%;
  background-color: #eeeeee; }

.preline__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.preline__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7e7e7e; }
  .preline__section .welcome_msg {
    margin-left: 10px; }
  .preline__section .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 10px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    font-size: 15px; }
    .preline__section .block p {
      margin-left: 5px; }
    .preline__section .block p + i:last-child {
      margin-left: 5px;
      margin-bottom: 5px; }

.header {
  margin-top: 38px; }
  .header .advantages {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #7e7e7e; }
    .header .advantages .advantages__block:nth-child(4) {
      margin-right: 54px; }
    .header .advantages .advantages__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .advantages .advantages__block i {
        font-size: 20px; }
      .header .advantages .advantages__block .advantages__text {
        margin-left: 18px; }
        .header .advantages .advantages__block .advantages__text p:nth-child(1) {
          text-transform: uppercase;
          font-size: 14px; }
        .header .advantages .advantages__block .advantages__text p:nth-child(2) {
          font-size: 10px; }
  .header .header__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 45px; }
    .header .header__main .logo {
      color: #26acce;
      font-size: 50px; }
    .header .header__main .search__form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-left: 120px; }
      .header .header__main .search__form select {
        color: #7e7e7e;
        padding: 18px  18px 10px;
        width: 7vw;
        border: 2px solid #bebebe; }
      .header .header__main .search__form form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .header .header__main .search__form form .search__text {
          padding: 19px  19px 10px;
          width: 17vw;
          color: #7e7e7e;
          border: 2px solid #bebebe;
          border-left: 1px; }
        .header .header__main .search__form form .search__button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          color: #ffff;
          padding: 10.5px 15px;
          background-color: #26acce; }
          .header .header__main .search__form form .search__button i {
            position: absolute; }
    .header .header__main .shopping__cart {
      float: left;
      margin-left: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header__main .shopping__cart a {
        background-color: #26acce;
        padding: 18.5px 20px;
        color: #fff; }
      .header .header__main .shopping__cart .cart__text {
        height: 100%;
        font-size: 12px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-left: 5px;
        color: #7e7e7e; }
        .header .header__main .shopping__cart .cart__text p:nth-child(1) {
          text-transform: uppercase;
          padding-bottom: 20px; }
        .header .header__main .shopping__cart .cart__text b {
          color: red; }
  .header nav {
    margin-top: 40px;
    background-color: #474747; }
    .header nav .nav__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      height: 6vh; }
      .header nav .nav__inner a {
        padding: 0 14px;
        font-size: 15px;
        color: white;
        text-decoration: none;
        border-right: 1px solid #606060; }

#up__bttn {
  display: inline-block;
  background-color: #e95668;
  width: 54px;
  height: 54px;
  text-align: center;
  margin: 30px;
  position: fixed;
  bottom: 5px;
  right: -10px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  z-index: 1000; }

#up__bttn:hover {
  cursor: pointer;
  background-color: #26acce; }

#up__bttn::after {
  margin: 0 auto;
  content: "\f077";
  font-family: FontAwesome;
  font-weight: lighter;
  font-size: 1.01rem;
  line-height: 52px;
  color: #fff; }

.categories_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #26acce;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  color: white;
  padding: 20px;
  cursor: pointer; }
  .categories_btn p {
    text-transform: uppercase; }
  .categories_btn i.fa-sort-down {
    margin-left: auto; }
  .categories_btn i.fa-bars {
    margin-right: 10px; }

.list-category {
  border: 1px solid #eeeeee;
  font-size: 0.9rem; }
  .list-category li {
    color: grey;
    font-weight: bold;
    padding: 16px 17px;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .list-category li:not(:last-child) {
      border-bottom: 1px solid #eeeeee; }
    .list-category li:hover {
      color: #26acce; }
  .list-category .arrow {
    position: relative; }
    .list-category .arrow::after {
      content: '>';
      position: absolute;
      right: 20px; }
  .list-category .more-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .list-category .unvisible {
    display: none; }

.hide-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  z-index: 10;
  -webkit-box-shadow: 0 0 5px grey;
          box-shadow: 0 0 5px grey;
  padding: 30px; }
  .hide-menu.third {
    padding-bottom: 0; }
    .hide-menu.third .headphones {
      max-width: 260px;
      height: auto; }
  .hide-menu .section:not(:last-child) {
    margin-right: 15px; }
  .hide-menu i {
    color: silver;
    margin-right: 5px; }
  .hide-menu h2 {
    padding-bottom: 10px;
    padding-right: 70px;
    border-bottom: 1px solid #cccccc;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    cursor: pointer; }
    .hide-menu h2:hover {
      color: #26acce; }
  .hide-menu li a {
    padding: 12px 0;
    display: block;
    color: #333333;
    text-decoration: none;
    font-size: 0.9rem;
    -webkit-transition: color 0.2s;
    transition: color 0.2s; }
    .hide-menu li a:hover {
      color: #26acce; }

.unvisible {
  display: none; }

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 430px; }
  .slider-wrapper ul, .slider-wrapper ul li {
    height: 100%; }
  .slider-wrapper .first {
    background-image: url("img/sliders/slider-1/bg1.jpg");
    background-repeat: no-repeat; }
  .slider-wrapper .second {
    background-image: url("img/sliders/slider-1/bg2.jpg");
    background-repeat: no-repeat; }
  .slider-wrapper .third {
    background-image: url("img/sliders/slider-1/bg3.jpg");
    background-repeat: no-repeat; }
  .slider-wrapper .slide {
    display: none; }
  .slider-wrapper .visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .slider-wrapper .buy_btn {
    color: white;
    padding: 8px 15px;
    font-size: 0.95rem;
    font-weight: bold;
    font-family: "MaliasRegular";
    text-transform: uppercase;
    background-color: rgba(38, 172, 206, 0.8);
    cursor: pointer; }

.dots {
  position: absolute;
  cursor: pointer;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%); }
  .dots .dot {
    margin-right: 5px;
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: rgba(134, 136, 138, 0.4);
    border-radius: 50%; }
  .dots .active {
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 1s;
    transition: 1s; }

.post-1 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 85px; }
  .post-1 h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px; }
  .post-1 p {
    font-size: 1.3rem;
    color: #838383;
    margin-bottom: 15px; }
  .post-1 span {
    display: block;
    color: #e87381;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 25px; }

.post-2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.85); }
  .post-2 h2 {
    font-size: 2.8rem;
    margin-bottom: 20px; }
  .post-2 p {
    margin-bottom: 30px; }

.post-3 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 60px; }
  .post-3 p:first-child, .post-3 h2 {
    color: #26acce;
    font-size: 1.9rem; }
  .post-3 p:first-child {
    margin-bottom: 20px; }
  .post-3 h2 {
    margin-bottom: 25px;
    font-weight: bold; }
  .post-3 .text {
    font-size: 0.8rem;
    line-height: 2;
    max-width: 440px;
    margin-bottom: 40px; }

.goods-container {
  margin-top: 55px;
  width: 100%; }
  .goods-container .span-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .goods-container .span-block span {
      display: inline-block;
      border-top: 3px solid #e3e3e3;
      border-radius: 10px;
      width: 100%; }
      .goods-container .span-block span:first-child {
        max-width: 460px;
        margin-right: 15px; }
      .goods-container .span-block span:last-child {
        max-width: 355px;
        margin-left: 15px; }
  .goods-container .section {
    margin-top: 38px; }
  .goods-container .underline {
    display: inline-block;
    width: 100%;
    border: 2px solid #26acce; }
  .goods-container .header-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .goods-container .header-section h2 {
      text-transform: uppercase; }
    .goods-container .header-section .navigation .active {
      color: #26acce; }
    .goods-container .header-section .navigation ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .goods-container .header-section .navigation ul li {
        font-family: 'Raleway', sans-serif;
        border-right: 1px solid #e3e3e3;
        font-size: 0.9rem; }
        .goods-container .header-section .navigation ul li a {
          display: block;
          padding: 0 20px;
          color: #838383;
          text-decoration: none;
          -webkit-transition: color 0.2s;
          transition: color 0.2s; }
          .goods-container .header-section .navigation ul li a:hover {
            color: #26acce; }
  .goods-container .arrow {
    z-index: 100;
    opacity: 0;
    font-size: 0.9rem;
    color: white;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    position: absolute;
    padding: 15px 18px;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    -webkit-transition: background-color 0.2s, opacity 0.4s;
    transition: background-color 0.2s, opacity 0.4s; }
    .goods-container .arrow:hover {
      background-color: #26acce; }
  .goods-container .arrow-left {
    left: 0; }
  .goods-container .arrow-right {
    right: 0; }
  .goods-container .goods-list {
    width: 100%;
    margin-top: 20px;
    height: 290px;
    position: relative;
    z-index: 0; }
    .goods-container .goods-list .menu-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: opacity 0.6s;
      transition: opacity 0.6s; }
    .goods-container .goods-list .visibleGoods {
      opacity: 1; }
    .goods-container .goods-list .list-wrapper {
      z-index: 10;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative; }
      .goods-container .goods-list .list-wrapper:hover .arrow {
        opacity: 1; }
    .goods-container .goods-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: margin-left 0.8s;
      transition: margin-left 0.8s; }
  .goods-container .list-wrapper li {
    border: 1px solid #dddddd;
    margin: 0 15px;
    max-width: 190px; }
    .goods-container .list-wrapper li a {
      display: block; }
    .goods-container .list-wrapper li:last-of-type {
      margin-right: 0px; }
    .goods-container .list-wrapper li:first-of-type {
      margin-left: 0px; }
    .goods-container .list-wrapper li img {
      max-width: 188px;
      height: auto; }
  .goods-container .goods:hover .option-block {
    opacity: 1; }
  .goods-container .goods-info {
    padding: 0 15px 15px 15px;
    position: relative; }
    .goods-container .goods-info h2 a {
      text-decoration: none;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: #595959;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
      .goods-container .goods-info h2 a:hover {
        color: #e87381; }
    .goods-container .goods-info .price {
      margin-top: 15px;
      font-family: 'Roboto', sans-serif; }
      .goods-container .goods-info .price span {
        display: inline-block; }
    .goods-container .goods-info .current-price {
      color: #e87381;
      font-size: 1.3rem;
      font-weight: 700;
      margin-right: 10px; }
    .goods-container .goods-info .old-price {
      text-decoration: line-through;
      color: #e8e8e8; }
    .goods-container .goods-info .stars {
      margin-top: 15px;
      color: #f9af51; }
    .goods-container .goods-info .option-block {
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      width: 100%;
      height: 100%;
      text-align: center;
      padding: 0 25px 30px 25px;
      opacity: 0;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
      .goods-container .goods-info .option-block .option {
        margin-top: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .goods-container .goods-info .option-block .option i {
          background-color: #666666;
          padding: 12px 14px;
          color: white;
          -webkit-transition: background-color 0.3s;
          transition: background-color 0.3s; }
          .goods-container .goods-info .option-block .option i:hover {
            background-color: #26acce; }
    .goods-container .goods-info .add-btn {
      text-transform: uppercase;
      background-color: #26acce;
      display: block;
      color: white;
      text-align: none;
      width: 100%;
      padding: 10px 0;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s; }
      .goods-container .goods-info .add-btn span {
        display: inline-block;
        margin-left: 5px;
        font-weight: 500;
        font-size: 0.8rem; }
      .goods-container .goods-info .add-btn:hover {
        background-color: #e87381; }

.footer {
  margin-top: 58px;
  background-color: #181818;
  width: 100%; }
  .footer .footer__social {
    background-color: #282828; }
    .footer .footer__social .footer__social__inner {
      height: 13vh;
      background-color: #282828;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .footer__social .footer__social__inner .footer__social__side {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .footer .footer__social .footer__social__inner .footer__social__side p {
          color: #fff; }
        .footer .footer__social .footer__social__inner .footer__social__side .user__email {
          padding: 0.75rem 10.8rem 0.75rem 0.6rem;
          border: 1px solid #fff;
          background-color: transparent;
          margin-left: 0.26rem; }
        .footer .footer__social .footer__social__inner .footer__social__side .subscribe__btn {
          padding: 0.8rem 1.1rem;
          color: #fff;
          border: 1px solid #fff;
          background-color: transparent;
          margin-left: 0.8rem; }
      .footer .footer__social .footer__social__inner .footer__social__side:nth-child(2) .fa-facebook {
        padding: 10px 13px; }
      .footer .footer__social .footer__social__inner .footer__social__side:nth-child(2) i {
        margin-left: 13px;
        border: 1px solid #b0b0b0;
        padding: 10px;
        border-radius: 3rem;
        color: #b0b0b0; }
  .footer .footer__end {
    background-color: #111111; }
    .footer .footer__end .footer__end__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 0.56rem;
      height: 5.9vh;
      color: #fff; }

.container .footer__inner {
  padding-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 32.7vh; }
  .container .footer__inner .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5%; }
    .container .footer__inner .footer__column p {
      font-size: 12px;
      color: #fff;
      margin-bottom: 8PX; }
    .container .footer__inner .footer__column hr {
      width: 252px;
      height: 1px;
      background-color: #303030; }
    .container .footer__inner .footer__column ol {
      position: relative; }
      .container .footer__inner .footer__column ol li::before {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        left: -15px;
        margin-top: 1.8px;
        content: "•";
        color: #808080; }
      .container .footer__inner .footer__column ol li {
        margin-top: 23px; }
      .container .footer__inner .footer__column ol a {
        color: #fff;
        text-decoration: none;
        font-size: 10px; }
  .container .footer__inner .footer__column:nth-child(4) li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .container .footer__inner .footer__column:nth-child(4) li i {
      margin-right: 10px;
      color: #e95668;
      font-size: 10px;
      margin-bottom: 10px; }
    .container .footer__inner .footer__column:nth-child(4) li p {
      font-size: 10px;
      color: #fff; }
    .container .footer__inner .footer__column:nth-child(4) li a {
      padding-bottom: 10px;
      color: #1d9ece; }
  .container .footer__inner .footer__column:nth-child(4) li::before {
    content: ""; }

.brands {
  margin-top: 1.9rem;
  font-size: 0.75rem; }
  .brands p {
    line-height: 18px; }
  .brands hr {
    width: 100%;
    background-color: #ed7987;
    height: 3px; }
  .brands .companies__logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.modal-window-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(177, 177, 177, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9000; }

.modal-window {
  width: 830px;
  background-color: white;
  position: absolute;
  top: 120px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  padding-bottom: 15px; }
  .modal-window img {
    margin-right: 55px;
    height: 433px;
    width: auto; }
  .modal-window h1 {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 25px;
    color: #7e7e7e; }
  .modal-window .price {
    font-family: 'Roboto';
    border-bottom: 1px solid silver;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .modal-window .price span {
      display: inline-block; }
    .modal-window .price .current-price {
      font-size: 1.4rem;
      font-weight: 400;
      color: #7e7e7e; }
    .modal-window .price .old-price {
      text-decoration: line-through;
      color: #e8e8e8; }
  .modal-window .more-info {
    display: inline-block;
    font-size: 0.8rem;
    color: #7e7e7e;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px; }
    .modal-window .more-info:hover {
      color: red; }
  .modal-window form {
    padding-bottom: 35px;
    border-bottom: 1px solid silver;
    margin-bottom: 20px; }
    .modal-window form input[type="number"] {
      width: 60px;
      height: 40px;
      text-align: center;
      border: 1px solid #e8e8e8;
      color: #7e7e7e;
      margin-right: 15px; }
    .modal-window form button {
      width: 225px;
      color: white;
      padding: 8px 0;
      font-size: 0.9rem;
      font-weight: bold;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      background-color: #26acce;
      cursor: pointer; }
  .modal-window .about-goods {
    color: #7e7e7e;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    padding-bottom: 20px;
    border-bottom: 1px solid silver; }
  .modal-window .shares {
    margin-top: 30px; }
    .modal-window .shares p {
      font-family: 'Raleway', sans-serif;
      color: #7e7e7e;
      font-weight: 700;
      margin-bottom: 15px; }
    .modal-window .shares i {
      padding: 8px 0;
      width: 40px;
      text-align: center; }
    .modal-window .shares a {
      color: #7e7e7e;
      border: 1px solid silver;
      border-radius: 5px;
      display: inline-block;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .modal-window .shares a:not(:last-child) {
        margin-right: 7px; }
      .modal-window .shares a.facebook:hover {
        background: #3B579D;
        border: 1px solid #3B579D;
        color: white; }
      .modal-window .shares a.twitter:hover {
        background: #3ACAFF;
        border: 1px solid #3ACAFF;
        color: white; }
      .modal-window .shares a.pinterest:hover {
        background: #CB2027;
        border: 1px solid #CB2027;
        color: white; }
      .modal-window .shares a.google-plus:hover {
        background: #D11717;
        border: 1px solid #D11717;
        color: white; }
      .modal-window .shares a.linkedin:hover {
        background: #0097BD;
        border: 1px solid #0097BD;
        color: white; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%; }

@font-face {
  font-family: "MaliasRegular";
  src: url("fonts/MaliasRegular.woff2") format("woff2"); }
@font-face {
  font-family: "MaliasThin";
  src: url("fonts/MaliasThin.woff2") format("woff2"); }
body {
  font-family: "MaliasRegular"; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin: 0 auto; }

main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px; }
  main .column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  main .l-side {
    max-width: 262px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  main .r-side {
    max-width: 850px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
