/*
Error: Invalid CSS after "...ing:14.5px 10px": expected "{", was ";"
        on line 26 of D:/ShopProject/Shopio/shop/static/_preline.scss
        from line 4 of D:\ShopProject\Shopio\shop\static\style.scss

21:   .block a{
22:     text-decoration: none;
23:     display: flex;
24:     align-items: center;
25: <<<<<<< HEAD
26:     padding:14.5px 10px;
27: =======
28: >>>>>>> 6df4c2ebcbb56b307d3859517b684438c1ba202f
29:     border-left: 1px solid #dddddd;
30:     border-right: 1px solid #dddddd;
31:     font-size: 15px;

Backtrace:
D:/ShopProject/Shopio/shop/static/_preline.scss:26
D:\ShopProject\Shopio\shop\static\style.scss:4
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1208:in `expected'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1203:in `tok!'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:677:in `block'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:321:in `to_tree'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:20:in `render'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
D:/Soft/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
D:/Soft/Koala/bin/sass:22:in `load'
D:/Soft/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ing:14.5px 10px\": expected \"{\", was \";\"\A         on line 26 of D:/ShopProject/Shopio/shop/static/_preline.scss\A         from line 4 of D:\ShopProject\Shopio\shop\static\style.scss\A \A 21:   .block a{\A 22:     text-decoration: none;\A 23:     display: flex;\A 24:     align-items: center;\A 25: <<<<<<< HEAD\A 26:     padding:14.5px 10px;\A 27: =======\A 28: >>>>>>> 6df4c2ebcbb56b307d3859517b684438c1ba202f\A 29:     border-left: 1px solid #dddddd;\A 30:     border-right: 1px solid #dddddd;\A 31:     font-size: 15px;"; }
