@import 'reset';
@import 'variables';
@import 'preline';
@import 'header';
@import 'categories';
@import 'slider';
@import 'footer';
*,*::after,*::before{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  font-size:100%;
}
@font-face {
   font-family: "MaliasRegular";
   src: url("fonts/MaliasRegular.woff2") format("woff2"),
}
@font-face {
  font-family: "MaliasThin";
  src: url("fonts/MaliasThin.woff2") format("woff2"),
}
body{
  font-family: "MaliasRegular";
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
main{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  .l-side{
    flex-basis: 262px;
  }
  .r-side{
    flex-basis:850px;
  }
}